# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata

# IDE
.idea/
.vscode/

# MacOS
.DS_Store

# Android Studio / IntelliJ
*.iml

# dotenv environment variables
.env
.env*

# Generated docs
doc/api/

# Generated JS
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Local logs and archives
*.log
*.zip
.kotlin/
.gradle/
